*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
runs/segment/predict/Screenshot[[:space:]]2024-06-08[[:space:]]at[[:space:]]09.31.53.png filter=lfs diff=lfs merge=lfs -text
runs/segment/predict4/Screenshot[[:space:]]2024-06-08[[:space:]]at[[:space:]]15.12.26.png filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/000.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/00001_frame000018_original.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/00001_frame002034_original.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/001.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/002.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/003.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/004.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/014.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/015.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/016.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/028.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/038.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/148.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/149.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/158.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/160.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/161.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/162.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/163.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/164.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/170.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/174.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/175.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/176.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/177.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/188.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/200.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/202.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/214.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/215.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/216.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/217.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/228.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/229.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/348.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/349.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/361.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/363.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/366.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/372.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/375.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/376.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/388.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/389.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/406.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/410.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/411.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/412.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/413.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/414.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/428.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/438.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/439.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/558.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/559.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/564.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/565.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/566.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/567.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/570.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/572.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/573.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/598.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/6338_lab.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/6375_lab.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/6381_lab.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/6388_lab.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/6506_lab.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/6516_lab.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/6670_lab.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/6773_lab.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/6787_lab.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/6820_lab.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/6899_lab.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/6933_lab.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/7142_lab.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/7189_lab.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/7596_lab.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/7731_lab.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/8052_lab.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/8090_lab.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/8099_lab.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/8133_lab.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/8151_lab.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/8158_lab.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/8227_lab.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/8245_lab.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/8334_lab.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/8370_lab.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/8379_lab.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/8400_lab.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/8409_lab.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/8986_lab.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/9000_lab.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/9019_lab.jpg filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/Screenshot[[:space:]]2024-05-18[[:space:]]at[[:space:]]09.57.43.png filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/Screenshot[[:space:]]2024-05-18[[:space:]]at[[:space:]]10.00.25.png filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/Screenshot[[:space:]]2024-05-18[[:space:]]at[[:space:]]10.00.41.png filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/Screenshot[[:space:]]2024-05-18[[:space:]]at[[:space:]]10.01.42.png filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/Screenshot[[:space:]]2024-05-18[[:space:]]at[[:space:]]10.02.00.png filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/Screenshot[[:space:]]2024-05-18[[:space:]]at[[:space:]]10.02.56.png filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/Screenshot[[:space:]]2024-05-18[[:space:]]at[[:space:]]10.03.03.png filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/Screenshot[[:space:]]2024-05-18[[:space:]]at[[:space:]]10.03.25.png filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/Screenshot[[:space:]]2024-05-18[[:space:]]at[[:space:]]10.03.46.png filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/Screenshot[[:space:]]2024-05-18[[:space:]]at[[:space:]]10.04.13.png filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/Screenshot[[:space:]]2024-05-18[[:space:]]at[[:space:]]10.04.40.png filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/Screenshot[[:space:]]2024-05-18[[:space:]]at[[:space:]]10.05.07.png filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/Zrzut[[:space:]]ekranu[[:space:]]2024-05-05[[:space:]]130256.png filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/Zrzut[[:space:]]ekranu[[:space:]]2024-05-05[[:space:]]130352.png filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/Zrzut[[:space:]]ekranu[[:space:]]2024-05-05[[:space:]]130425.png filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/Zrzut[[:space:]]ekranu[[:space:]]2024-05-05[[:space:]]130532.png filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/Zrzut[[:space:]]ekranu[[:space:]]2024-05-05[[:space:]]130608.png filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/Zrzut[[:space:]]ekranu[[:space:]]2024-05-05[[:space:]]130646.png filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/Zrzut[[:space:]]ekranu[[:space:]]2024-05-05[[:space:]]130750.png filter=lfs diff=lfs merge=lfs -text
training_images/all/images/train/Zrzut[[:space:]]ekranu[[:space:]]2024-05-05[[:space:]]130839.png filter=lfs diff=lfs merge=lfs -text
training_images/all/images/val/Bez[[:space:]]tytułu.png filter=lfs diff=lfs merge=lfs -text
training_images/all/images/val/sat-cars-roads.png filter=lfs diff=lfs merge=lfs -text
training_images/all/labels/train.cache filter=lfs diff=lfs merge=lfs -text
